body {
    font-family: Arial;
    background-color: #FFF9ED;
    color: black;
}

h1, h2 {
    margin: 0 0 0.5em;
}

.top {
    display: table;
    background-color: #00A797;
    height: 150px;
    position: relative;
    text-align: center;
    width: 100%;
}

.down {
    display: table;
    background-color: #1D6867;
    color: white;
    height: 70px;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.titre {
    top: 50px;
    color: white;
    font-size: 50px;
}

.top .sous-titre {
    color: white;
    font-size: 30px;
}

.down .sous-titre {
    color: white;
    font-size: 20px;
}

.centre .sous-titre {
    color: black;
    font-size: 30px;
    border-left: solid #1D6867 5px;
    padding: 10px;
}

.centre .info .sous-titre {
    color: white;
}

.pack {
    display: flex;
    margin-top: 5px;
}

.centre2 .sous-titre {
    color: black;
    font-size: 30px;
    border-left: solid #1D6867 5px;
    padding: 10px;
}

.centrer-bandeau {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.gauche-bandeau {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.droite-bandeau {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.actuel {
    background-color: #185251;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1D6867;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #00242C;
}

.description-section {
    text-align: left;
}

.content-section {
    text-align: right;
}

.def {
    min-width: 20%;
    background-color: white;
    position: relative;
    padding: 5px 5px 5px 5px;
}

.info {
    color: white;
    margin-left: 10px;
    background-color: #00A797;
    position: relative;
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #00A797;
    border-radius: 10px 10px 10px 10px;
    min-width: 78%;
}

.text {
    text-shadow: 0.4px 0.4px 1px black;
}

.comp .sous-titre {
    text-align: center;
    align-items: center
}

.comp table {
    border-collapse: collapse;
    margin: auto;
}

.comp th {
    border: 1px solid #0EAC75;
}

.cate {
    width: 40%;
    padding: 5px 5px 5px 5px;
}

.def img {
    min-width: 70%;
    max-width: 90%;
}

.annexeImmo {
    width: 70%;
}

.annexeDiv {
    display: table;
    text-align: center;
    position: relative;
    width: 100%;
}

.annexeGauche {
    display:table-cell;
}

.annexeDroite {
    display: table-cell;
}

.donnee {
    width: 200px;
}

.grey-cell {
    background-color: lightgrey;
}

.orange-cell {
    background-color: rgb(255, 209, 124);
}

.green-cell {
    background-color: rgb(116, 245, 116);
}